<!DOCTYPE html>
<html>
    <head>
        <title>Content</title>
        <meta charset="windows-1251">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
         <script src="../service/UserService.js"></script>
        <script src="../service/CategoryService.js"></script>
        <script src="../service/ContentService.js"></script>
         <script src="../controllers/UserController.js"></script>
        <script src="../controllers/CategoryController.js"></script>
        <script src="../controllers/ContentController.js"></script>
    </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">dsadas</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">dsadsa</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/Project/">sds</a></li>
            <li><a href="/Project/view/projectInfo.html">dsa</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>  
          <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      </div>
    </div>
      

    <!--  ================================================== -->
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <script>
         window.onload = function()
         {
            var url = new URL(document.location.href);
            var id= url.searchParams.get("id");
            
            var contentController =  new ContentController();
            contentController.getContentByIdView(id);
         }
    </script>
    
  </body>
</html>